/* General Styles for Home Component */
.home {
  position: relative;
  height: 100vh; /* Full screen height */
  overflow: hidden;
}

.home-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #FFFFFF; /* Bright White for text */
  z-index: 2; /* Keep text above the images */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black for overlay */
}

.home h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.home p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.home button {
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 5px;
  color: #FFFFFF;
  background-color: #007BFF; /* Electric Blue for button */
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.home button:hover {
  background-color: #F38D13; /* Amber Yellow on hover */
}

/* Background Image Carousel */
.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-size: cover;
  background-position: center;
  animation: slideshow 24s infinite;
}

/* Define Images for Slideshow */
@keyframes slideshow {
  0% {
    background-image: url("https://github.com/karavani/zano-led-solutions/blob/main/public/led-bg1.png?raw=true"); /* Adjust the path to your image */
    }
    50% {
    background-image: url("https://github.com/karavani/zano-led-solutions/blob/main/public/led-bg2.png?raw=true"); /* Replace with your image URL */
    }
    100% {
    background-image: url("https://github.com/karavani/zano-led-solutions/blob/main/public/led-bg3.png?raw=true"); /* Replace with your image URL */
    }
}
